
*{
    margin:0;
    font-family:sans-serif;
}

header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    h1.brand-name{
        margin:1rem;
    }
    nav{
        ul{
            li{
                display: inline;
            }
        }
    }
}