.btn {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

* {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
}
header * {
  color: white;
}
header h1.brand-name {
  margin: 1rem;
  cursor: pointer;
  color: #f90;
}
@media screen and (max-width: 480px) {
  header h1.brand-name {
    font-size: 20px;
  }
}
header nav ul {
  margin-right: 20px;
}
@media screen and (max-width: 480px) {
  header nav ul {
    margin-right: 5px;
  }
}
header nav ul li {
  display: inline;
}
header nav ul li a {
  padding: 5px 10px;
  margin: 5px 3vw;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  background: radial-gradient(rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.05));
}
header nav ul li a:hover {
  background: white;
  color: black;
  border-radius: 5px;
}
@media screen and (max-width: 480px) {
  header nav ul li a {
    padding: 5px;
    font-size: 16px;
  }
}
@media screen and (max-width: 320px) {
  header nav ul li a {
    margin: 5px 1vw;
  }
}

.background, .radialGradient {
  background: url("../images/pexels-athena-2582932.jpg");
  background-position: 0% 50%;
  height: 100vh;
  width: 100%;
  background-size: cover;
  position: absolute;
  z-index: -1;
  filter: brightness(60%);
}

.radialGradient {
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}

section.section1 {
  height: 100vh;
}
section.section1 h1 {
  text-align: center;
  position: relative;
  top: 40%;
  color: white;
  font-size: 40px;
  background: radial-gradient(rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0.05));
}
@media screen and (max-width: 720px) {
  section.section1 h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 480px) {
  section.section1 h1 {
    font-size: 20px;
  }
}
section.section1 h1 span {
  color: #02E1FF;
}
section.section1 button.btn {
  position: relative;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  background: #f90;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
}
@media screen and (max-width: 720px) {
  section.section1 button.btn {
    font-size: 30px;
    padding: 5px 10px;
  }
}
@media screen and (max-width: 480px) {
  section.section1 button.btn {
    font-size: 20px;
    padding: 5px 10px;
  }
}

section.section2 {
  background: #161616;
  width: 100%;
}
section.section2 h2 {
  color: rgb(223, 223, 223);
}
section.section2 p {
  color: rgb(180, 180, 180);
}
section.section2 div.prosWrapper {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: clamp(300px, 100%, 1200px);
  padding: 0 clamp(0.1%, 1%, 100px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
}
section.section2 div.pro {
  padding: 50px;
  width: 450px;
  display: flex;
}
section.section2 div.pro i {
  color: white;
  padding-right: 20px;
}/*# sourceMappingURL=index.css.map */